.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
    border-radius: 5px
}

.react-date-picker__wrapper {
    padding: 6px;
    border: thin solid var(--chakra-colors-chakra-border-color)
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 1em 1em
}